.imga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-left: 450px;
  margin-top: 40px;
}

.id {
  border-radius: 40px 40px;
  width: 600px;
  height: 42px;
  border-color: #9aa0a6;
  margin-top: 32px;
  display: flex;
  align-self: center;
}

.lup {
  width: 50px;
  height: 20px;
  position: relative;
  top: 85px;
  right: 145px;
}

.mic {
  width: 50px;
  height: 20px;
  position: relative;
  top: 70px;
  left: 380px;
}
