.btn-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 400px;
  margin-top: 20px;
}

.btna {
  background-color: #f8f9fa;
  border: 16px solid#f8f9fa;
  color: black;
  height: 40px;
}

.btnb {
  background-color: #f8f9fa;
  border: 16px solid#f8f9fa;
  color: black;
  height: 40px;
}
