.foot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 150px;
  height: 100px;
  background-color: #f8f9fa;
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #3c4043;
  padding: 50px 0;
}

.mex {
  color: #3c4043;
  position: relative;
  top: 190px;
}
